{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h3>🛒 Your Cart</h3>
  {% if items %}
  <table class="table table-bordered">
    <thead>
      <tr><th>Product</th><th>Qty</th><th>Price</th><th>Subtotal</th><th>Action</th></tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <!-- <td>{{ item.combo.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>₹{{ item.combo.total_price|floatformat:2 }}</td> -->
        <td>{{ item.product_name }}</td>
        <td>{{ item.quantity }}</td>
        <td>₹{{ item.unit_price|floatformat:2 }}</td>
        <td>₹{{ item.subtotal|floatformat:2 }}</td>
        <td>
          <form method="POST" action="{% url 'remove_cart_item' item.id %}">
            {% csrf_token %}

            <button type="submit"
              class="btn btn-outline-danger btn-sm">
            <i class="bi bi-trash"></i>Remove </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
  <h5 class="text-end">Total: ₹{{ total|floatformat:2 }}</h5>
  <div class="text-end">
    <!-- <a href="{% url 'cart_checkout' %}" class="btn btn-success">Proceed to Checkout</a> -->
    <!-- <a href="{% url 'select_address' %}?from=cart" class="btn btn-success">Proceed to Checkout</a>
    <a href="{% url 'product_list' %}" class="btn btn-danger btn-sm">Keep Shopping</a> -->
    <h5 class="text-end">
    Total: ₹{{ total|floatformat:2 }}
</h5>

{% if total >= 5000 %}

    <div class="alert alert-success">
        <i class="bi bi-check-circle"></i>
        Your cart qualifies for checkout.
    </div>

    <div class="text-end">
        <a href="{% url 'select_address' %}?from=cart"
           class="btn btn-success">
            Proceed to Checkout
        </a>

        <a href="{% url 'product_list' %}"
           class="btn btn-outline-primary">
            Keep Shopping
        </a>
    </div>

{% else %}

    <div class="alert alert-warning">
        <strong>Minimum order value is ₹5,000.</strong>
        <br>
        Your current cart total is ₹{{ total|floatformat:2 }}.
        Please add more products to proceed to checkout.
    </div>

    <div class="text-end">
        <button class="btn btn-secondary" disabled>
            Proceed to Checkout
        </button>

        <a href="{% url 'product_list' %}"
           class="btn btn-primary">
            Continue Shopping
        </a>
    </div>

{% endif %}

  </div>
  <form method="POST" action="{% url 'clear_cart' %}">
    {% csrf_token %}

    <button type="submit"
            class="btn btn-outline-danger">
        Clear Cart
    </button>
  </form>
  {% else %}
  <p>Your cart is empty.</p>
  {% endif %}
</div>
{% endblock %}
