{% extends "base.html" %}
{% block title %}Privacy Policy - Camura{% endblock %}

{% block content %}
<h1>Privacy Policy</h1>
<p><strong>Last Updated:</strong> 09-12-2025</p>

<p>At <strong>Camura (Netshop Sales)</strong>, accessible from camura.in, your privacy is extremely important to us.</p>

<h3>Information We Collect</h3>
<ul>
    <li>Name, phone number, email</li>
    <li>Billing and installation address</li>
    <li>Device and IP data</li>
    <li>Order and payment details</li>
</ul>

<h3>How We Use Your Information</h3>
<ul>
    <li>Process orders and schedule installation</li>
    <li>Customer support</li>
    <li>Fraud prevention</li>
    <li>Website improvement</li>
</ul>

<h3>Sharing of Information</h3>
<p>We share your data only with delivery partners, installation staff, payment gateways, or legal authorities when
    required.</p>

<h3>Your Rights</h3>
<p>You can request correction or deletion of your data anytime at:</p>

<p>Email: <strong>support@camura.in</strong><br>
    Phone: <strong>9850504728</strong></p>

{% endblock %}