{% extends "base.html" %}
{% block title %}Refund Policy - Camura{% endblock %}

{% block content %}
<h1>Refund Return  & cancelation Policy</h1>

<h3>Return Eligibility</h3>
<ul>
    <li>Returns accepted within 7 days</li>
    <li>Product must be unused and in original packaging</li>
    <li>Manufacturing defects are eligible</li>
</ul>

<h3>Non-returnable Items</h3>
<ul>
    <li>Installed CCTV cameras</li>
    <li>Opened DVR/NVR systems</li>
    <li>Wires & accessories</li>
    <li>Physically damaged items</li>
</ul>

<h3>Refund Time</h3>
<p>Refunds are processed within 5–7 days after inspection.</p>


<h1>Cancellation Policy</h1>

<h3>Order Cancellation</h3>
<p>Orders can be cancelled before shipping only.</p>

<h3>Installation Cancellation</h3>
<p>If a technician is already dispatched, a cancellation fee may apply.</p>

{% endblock %}